.nav {
    list-style: none;

    width: 50vw;
    margin: auto;

    padding-left:  0;

    text-align: center;

    border-style: groove;
}

.nav>li {
    border-style: groove;
    display: inline-block;
    
}

.nav>li>a {
    text-decoration: wavy;
    color: aqua;

}

nav>li>a
h1 {
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif; hae 
}